/* Make image zoom to fit the screen horizontally while maintaining vertical size */
.responsive-image {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    /* Add lorem picsum url for background image */
    background-image: url("https://images.placeholders.dev/?width=1920&height=1080");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* On smaller devices, make the image take the full width and maintain aspect ratio */
@media only screen and (max-width: 768px) {
    .responsive-image {
        width: 100%;
        background-image: url("https://images.placeholders.dev/?width=1920&height=1080");
        /* Image doesn't need to be zoomed in on smaller devices */
        background-size: contain;
        /* Set height to content height */
        height: auto;
    }
}

img-comparison-slider {
    --divider-width: 2px;
    --divider-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    --default-handle-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  }